body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    background-image: url(rain.jpg);
    /*
    shortcut = background: url(rain.jpg) rgb(aquamarine);
    */
}

header{
    background-image: url(umbrella.jpg);
    color: white;
    background-repeat: no-repeat;
    background-position: 700px;
}

.mylist{
    list-style-type: disc;
    /*list-style-image:;*/
}